if [ -e "$(echo ~)/.profile" ]
  then
    source "$(echo ~)/.profile"
fi

if [ -e "$(echo ~)/.dockrc" ]
  then
    source "$(echo ~)/.dockrc"
fi

if [[ -n "$DOCKER_SSH" ]]
  then
	export PS1="🐳  $DOCKER_SSH $PS1"
	export DOCKER="ssh -q $DOCKER_SSH docker"
	export DOCKER_TERM="ssh -q -t $DOCKER_SSH docker"
  else
    export PS1="🐳  local $PS1"
	export DOCKER=_runlocal
	export DOCKER_TERM=_runlocal
fi

_runlocal() {
	# need to use eval to mimic ssh's unescaping
	eval "docker $(echo $@)"
}

export -f _runlocal

_bash() {
	$DOCKER_TERM exec -ti $1 bash ${@:2}  
}

_mysql() {
	$DOCKER_TERM exec -ti $1 mysql -uroot ${@:2}
}

_pull() {
	$DOCKER pull docker.faqtory.nl:5000/$1 \; docker tag docker.faqtory.nl:5000/$1 $1
}

_push() {
	$DOCKER tag $1 docker.faqtory.nl:5000/$1 \; docker push docker.faqtory.nl:5000/$1 
}

_stats() {
	$DOCKER_TERM stats \$\(docker ps --format={{.Names}}\)
}

_sqlpro() {
	echo "Starting tunnel in background..."
	($DOCK_HOME/sequel\ Pro/sqlpro-tunnel.sh "$@" >/dev/null 2>&1 & disown)
}

_edit() {
	TEMPFILE=$TMPDIR$(uuidgen | sed 's/-//g')
	set -e
	scp $DOCKER_SSH:"$1" $TEMPFILE
	MTIME=$(stat  -f %m $TEMPFILE)
	VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCode" --args "$TEMPFILE" &
	while [[ true ]] 
	do
		sleep 1
		if [[ MTIME -ne $(stat -f %m $TEMPFILE) ]]
			then
			echo Copying file contents back to $DOCKER_SSH:"$1"
			scp $TEMPFILE $DOCKER_SSH:"$1"
			MTIME=$(stat -f %m $TEMPFILE)
		fi
	done
}

alias bash=_bash
alias commit='$DOCKER commit'
alias edit=_edit
alias exec='$DOCKER exec'
alias history='$DOCKER history'
alias images='$DOCKER images'
alias inspect='$DOCKER inspect'
alias kill='$DOCKER kill'
alias login='$DOCKER_TERM login'
alias logs='$DOCKER logs'
alias mysql=_mysql
alias network='$DOCKER network'
alias ps='$DOCKER ps'
alias pull='$DOCKER pull'
alias port='$DOCKER port'
alias push='$DOCKER push'
alias restart='$DOCKER restart'
alias rm='$DOCKER rm'
alias rmi='$DOCKER rmi'
alias run='$DOCKER_TERM run'
alias sqlpro=_sqlpro
alias ssh="ssh $DOCKER_SSH"
alias start='$DOCKER start'
alias stats=_stats
alias stop='$DOCKER stop'
alias volume='$DOCKER volume'
